# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [42]:
# Read in csv and display DF
cleanddrop_df = pd.read_csv('../WeatherPy/Output-WeatherPy/cityweather.csv', encoding="utf-8")
cleanddrop_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,vila franca do campo,37.72,-25.43,59.00,87.0,75.0,23.04,PT,1.609623e+09
1,chokurdakh,70.63,147.92,-31.09,84.0,6.0,4.85,RU,1.609623e+09
2,cape town,-33.93,18.42,69.80,56.0,0.0,20.80,ZA,1.609623e+09
3,sitka,57.05,-135.33,42.80,60.0,90.0,16.11,US,1.609623e+09
4,suriapet,17.15,79.62,62.20,90.0,87.0,2.75,IN,1.609623e+09

In [43]:
# Double checking datatypes
cleanddrop_df.dtypes

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Country        object
Date          float64
dtype: object

In [44]:
# Double checking count
cleanddrop_df.count()

City          562
Lat           562
Lng           562
Max Temp      562
Humidity      562
Cloudiness    562
Wind Speed    562
Country       557
Date          562
dtype: int64

In [45]:
# Dropping countries that picked up NaN values during transfer
# 'NA' for Namibia wound up getting read in as NaN
cleanDrop_df = cleanddrop_df.dropna(axis=0, how="any")
cleanDrop_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,vila franca do campo,37.72,-25.43,59.00,87.0,75.0,23.04,PT,1.609623e+09
1,chokurdakh,70.63,147.92,-31.09,84.0,6.0,4.85,RU,1.609623e+09
2,cape town,-33.93,18.42,69.80,56.0,0.0,20.80,ZA,1.609623e+09
3,sitka,57.05,-135.33,42.80,60.0,90.0,16.11,US,1.609623e+09
4,suriapet,17.15,79.62,62.20,90.0,87.0,2.75,IN,1.609623e+09

In [46]:
# Double checking count
cleanDrop_df.count()

City          557
Lat           557
Lng           557
Max Temp      557
Humidity      557
Cloudiness    557
Wind Speed    557
Country       557
Date          557
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [47]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [48]:
# Setting up variables to plot on map
locations = cleanDrop_df[["Lat", "Lng"]]
humidity = cleanDrop_df["Humidity"]

In [49]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=10,
                                point_radius=1)

# Add layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [50]:
# Display DF
cleanDrop_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,vila franca do campo,37.72,-25.43,59.00,87.0,75.0,23.04,PT,1.609623e+09
1,chokurdakh,70.63,147.92,-31.09,84.0,6.0,4.85,RU,1.609623e+09
2,cape town,-33.93,18.42,69.80,56.0,0.0,20.80,ZA,1.609623e+09
3,sitka,57.05,-135.33,42.80,60.0,90.0,16.11,US,1.609623e+09
4,suriapet,17.15,79.62,62.20,90.0,87.0,2.75,IN,1.609623e+09

In [64]:
# Filter for instances where "Humidity" is 20% or less
hotel_df = cleanDrop_df.loc[cleanDrop_df["Humidity"] <= 20,:]
hotel_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
290,dedougou,12.47,-3.47,80.49,18.0,0.0,3.80,BF,1.609623e+09
321,benito juarez,19.39,-99.17,73.40,9.0,5.0,3.36,MX,1.609623e+09
334,dakoro,14.51,6.76,75.20,18.0,0.0,7.07,NE,1.609623e+09
371,dosso,13.05,3.19,77.81,17.0,0.0,7.16,NE,1.609623e+09
400,kaffrine,14.11,-15.55,79.70,17.0,0.0,9.89,SN,1.609624e+09
429,oum hadjer,13.30,19.70,79.92,19.0,59.0,11.50,TD,1.609624e+09
453,villa guerrero,18.87,-99.65,80.60,15.0,5.0,3.36,MX,1.609624e+09

In [65]:
hotel_df.count()

City          7
Lat           7
Lng           7
Max Temp      7
Humidity      7
Cloudiness    7
Wind Speed    7
Country       7
Date          7
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [67]:
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
290,dedougou,12.47,-3.47,80.49,18.0,0.0,3.80,BF,1.609623e+09,
321,benito juarez,19.39,-99.17,73.40,9.0,5.0,3.36,MX,1.609623e+09,
334,dakoro,14.51,6.76,75.20,18.0,0.0,7.07,NE,1.609623e+09,
371,dosso,13.05,3.19,77.81,17.0,0.0,7.16,NE,1.609623e+09,
400,kaffrine,14.11,-15.55,79.70,17.0,0.0,9.89,SN,1.609624e+09,

In [73]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}

In [75]:
# Use the lat/lng to identify hotels
for index, row in hotel_df.iterrows():
    # Get lat, lng from DF
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # Base url
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Query url
    query_url = requests.get(url, params=params)
    
    # print(query_url.url)

    # Convert to json    
    query_url = query_url.json()
    
    # Incorporate try / except just in case and send output to DF
    try:
        hotel_df.loc[index, "Hotel Name"] = query_url["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")
        
hotel_df.head(10)

C:\Users\jcg\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Missing field/result...skipping.
Missing field/result...skipping.

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
290,dedougou,12.47,-3.47,80.49,18.0,0.0,3.80,BF,1.609623e+09,Hotel Le Kounde
321,benito juarez,19.39,-99.17,73.40,9.0,5.0,3.36,MX,1.609623e+09,Hotel Galería Plaza Reforma
334,dakoro,14.51,6.76,75.20,18.0,0.0,7.07,NE,1.609623e+09,
371,dosso,13.05,3.19,77.81,17.0,0.0,7.16,NE,1.609623e+09,Hôtel Zigi
400,kaffrine,14.11,-15.55,79.70,17.0,0.0,9.89,SN,1.609624e+09,Hotel de l'Auberge
429,oum hadjer,13.30,19.70,79.92,19.0,59.0,11.50,TD,1.609624e+09,
453,villa guerrero,18.87,-99.65,80.60,15.0,5.0,3.36,MX,1.609624e+09,Hotel Rancho San Diego Grand Spa Resort

In [76]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [77]:
# Setting up variables to plot on map
locations = hotel_df[["Lat", "Lng"]]
humidity = hotel_df["Humidity"]

In [95]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=10,
                                point_radius=1)

# Add layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
Name
{Hotel Name}
City
{City}
Country
{Country}
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [88]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, hotel_info)
fig.add_layer(markers)
fig


# Display figure

Figure(layout=FigureLayout(height='420px'))

In [89]:
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>