# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [26]:
# Read in csv and display DF
cleanddrop_df = pd.read_csv('../WeatherPy/Output-WeatherPy/cityweather.csv', encoding="utf-8")
cleanddrop_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,vila franca do campo,37.72,-25.43,59.00,87.0,75.0,23.04,PT,1.609623e+09
1,chokurdakh,70.63,147.92,-31.09,84.0,6.0,4.85,RU,1.609623e+09
2,cape town,-33.93,18.42,69.80,56.0,0.0,20.80,ZA,1.609623e+09
3,sitka,57.05,-135.33,42.80,60.0,90.0,16.11,US,1.609623e+09
4,suriapet,17.15,79.62,62.20,90.0,87.0,2.75,IN,1.609623e+09

In [27]:
# Double checking datatypes
cleanddrop_df.dtypes

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity      float64
Cloudiness    float64
Wind Speed    float64
Country        object
Date          float64
dtype: object

In [28]:
# Double checking count
cleanddrop_df.count()

City          562
Lat           562
Lng           562
Max Temp      562
Humidity      562
Cloudiness    562
Wind Speed    562
Country       557
Date          562
dtype: int64

In [29]:
# Dropping countries that picked up NaN values during transfer
# 'NA' for Namibia wound up getting read in as NaN
cleanDrop_df = cleanddrop_df.dropna(axis=0, how="any")
cleanDrop_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,vila franca do campo,37.72,-25.43,59.00,87.0,75.0,23.04,PT,1.609623e+09
1,chokurdakh,70.63,147.92,-31.09,84.0,6.0,4.85,RU,1.609623e+09
2,cape town,-33.93,18.42,69.80,56.0,0.0,20.80,ZA,1.609623e+09
3,sitka,57.05,-135.33,42.80,60.0,90.0,16.11,US,1.609623e+09
4,suriapet,17.15,79.62,62.20,90.0,87.0,2.75,IN,1.609623e+09

In [30]:
# Double checking count
cleanDrop_df.count()

City          557
Lat           557
Lng           557
Max Temp      557
Humidity      557
Cloudiness    557
Wind Speed    557
Country       557
Date          557
dtype: int64

In [31]:
# Filter to get small sample to run first
LatFew_df = cleanDrop_df.loc[cleanDrop_df["Lat"] >= 60,:]
LatFew_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,chokurdakh,70.63,147.92,-31.09,84.0,6.0,4.85,RU,1.609623e+09
19,saskylakh,71.92,114.08,-34.24,82.0,66.0,6.38,RU,1.609623e+09
21,barrow,71.29,-156.79,-7.60,83.0,90.0,9.17,US,1.609623e+09
25,nome,64.50,-165.41,17.60,61.0,1.0,4.70,US,1.609623e+09
28,qaanaaq,77.48,-69.36,-3.39,78.0,0.0,2.17,GL,1.609623e+09

In [32]:
# Sample seems to be small enough
LatFew_df.count()

City          71
Lat           71
Lng           71
Max Temp      71
Humidity      71
Cloudiness    71
Wind Speed    71
Country       71
Date          71
dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [34]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [35]:
# Setting up variables to plot on map
locations = LatFew_df[["Lat", "Lng"]]
humidity = LatFew_df["Humidity"]

In [40]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=10,
                                point_radius=1)

# Add layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure